<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="section-title" data-aos="fade-up">
                    <h1>Our <strong> Clients</strong></h>
                </div>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">


                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/abimanyu.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Abimanyu Sekar Nusantara </h4>
                        <p>Industri Pengecatan</p>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/apical.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Apical </h4>
                        <p>Industri Pengolahan Kelapa Sawit</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/chevron.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Chevron Pacific Indonesia </h4>
                        <p>Industri Oil & Gas</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/eci.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Expert Club Indonesia </h4>
                        <p>Continuous Improvement Professional Community</p>
                    </div>
                </div>



                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/efishery.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>E-Fishery</h4>
                        <p>Industri Budidaya Ikan</p>
                    </div>
                </div>


  
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/goodrich.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Goodrich Pindad Aeronautical System Indonesia</h4>
                        <p>Industri Pesawat Terbang</p>
                    </div>
                </div>


   
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/greycampus.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Grey Campus</h4>
                        <p>Lean Six Sigma Consultant</p>
                    </div>
                </div>
   

       
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/impro.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Impro </h4>
                        <p>Industri Komunikasi Visual</p>
                    </div>
                </div>
    


                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/indorama.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Indorama Polypet Indonesia </h4>
                        <p>Industri Petrokimia</p>
                    </div>
                </div>
       

 
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/iwearzule.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>IWearzule </h4>
                        <p>Industri Pakaian Custom</p>
                    </div>
                </div>
       
       
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/jabil.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Jabil Circuit Indonesia </h4>
                        <p>Industri Pesawat Terbang</p>
                    </div>
                </div>
      

                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/lucas.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Lucas Pindad Aeronautical System Indonesia </h4>
                        <p>Industri Pesawat Terbang</p>
                    </div>
                </div>
     
       
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/maipark.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Maipark Indonesia </h4>
                        <p>Industri Re-Asuransi</p>
                    </div>
                </div>
          

        
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/ngk.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT NGK Busi Indonesia </h4>
                        <p>Industri Manufaktur</p>
                    </div>
                </div>
      
        
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/norma.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Norma Asia </h4>
                        <p>Industri Permesinan Presisi</p>
                    </div>
                </div>
    
      
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/pandrol.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Pandrol Indonesia</h4>
                        <p>Industri Penambat Rel Kereta Api</p>
                    </div>
                </div>
       
        
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/pizzahut.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Pizza Hut Indonesia </h4>
                        <p>Restauran Pizza</p>
                    </div>
                </div>
 
      
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/pudak.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Pudak</h4>
                        <p>Industri Pesawat Terbang</p>
                    </div>
                </div>
        
           
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/siloam.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Siloam International Hospitals Tbk </h4>
                        <p>Rumah Sakit Siloam</p>
                    </div>
                </div>
        
       
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/tme.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT Abimanyu Sekar Nusantara </h4>
                        <p>Industri Pengecatan</p>
                    </div>
                </div>
      
       
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/trw.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>PT TRW Pindad Aeronautical System Indonesia</h4>
                        <p>Industri Pesawat Terbang</p>
                    </div>
                </div>
       
      
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/unominda.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>NK Minda Group </h4>
                        <p>Industri Komponen Otomotif</p>
                    </div>
                </div>
      
     
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="img/clients/vri.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Variance Reduction International Ltd</h4>
                        <p>Lean Six Sigma Consultant</p>
                    </div>
                </div>
 


            

        </div>

    </div>
</section><!-- End Portfolio Section -->
