<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(img/slide/slide-1.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2>Business Process Improvement and System Development Consulting</span></h2>
                        <p>Lean Six Sigma Indonesia menawarkan berbagai layanan pelatihan dan konsultasi untuk 
                            memenuhi tuntutan dan tantangan yang dihadapi organisasi di dunia saat ini.<br><br>
                            Kami membantu organisasi menjadi lebih sukses dengan menyediakan produk dan layanan berikut:<br>
                            - Pelatihan dan Sertifikasi Lean Six Sigma<br>
                            - Implementasi dan Pelatihan Pemecahan Masalah<br>
                            - Materi Pembelajaran online<br>
                        </p>
                        <div class="text-center"><a href="" class="btn-get-started">Contact Us</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(img/slide/slide-2.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h1>Apa itu <strong>Lean </strong> ? </h1>
                        <p>Lean mengacu pada <strong> memaksimalkan nilai pelanggan</strong> dan <strong>meminimalkan
                                pemborosan;</strong>
                            menciptakan lebih banyak nilai bagi pelanggan dengan sumber daya yang lebih efisien.<br></p>
                        <div class="text-center"><a href="" class="btn-get-started">Contact Us</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(img/slide/slide-3.jpg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2>Apa itu Six Sigma ?</h2>
                        <p>Six Sigma adalah upaya terus-menerus untuk terus <strong>mengurangi variasi proses dan produk
                            </strong> melalui
                            pendekatan proyek yang ditetapkan.<br></p>
                        <div class="text-center"><a href="" class="btn-get-started">Contact Us</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 4 -->
            <div class="carousel-item" style="background-image: url(img/slide/slide-4.jpeg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2>Apa itu Lean Six Sigma ?</h2>
                        <p>
                            Lean Six Sigma adalah dua pendekatan bisnis bertahap untuk perbaikan
                            terus-menerus yang berfokus pada <strong> pengurangan pemborosan dan variasi produk</strong>
                            dari manufaktur, jasa atau proses desain. <br>
                            Gabungan pendekatan <strong> Lean </strong> dan <strong>Six Sigma</strong> mendorong perbaikan
                            terus-menerus, membangun sebuah filosofi
                            yang merupakan pondasi dari semua <strong>sistem manajemen yang efektif dan bisnis apa pun
                            yang ingin tumbuh dan berkembang untuk masa depan </strong>
                        </p>
                        <div class="text-center"><a href="" class="btn-get-started">Contact Us</a></div>
                    </div>
                </div>
            </div>

            <!-- Slide 5 -->
            <div class="carousel-item" style="background-image: url(img/slide/slide-5.jpeg);">
                <div class="carousel-container">
                    <div class="carousel-content animate__animated animate__fadeInUp">
                        <h2>Apa itu ISO 9001:2015 ?</h2>
                        <p>
                        ISO 9001: 2015 menetapkan persyaratan untuk sistem manajemen mutu ketika sebuah organisasi:
                    <br>
                        a) perlu menunjukkan kemampuannya untuk secara konsisten menyediakan produk dan layanan yang
                        memenuhi
                        persyaratan peraturan dan peraturan pelanggan yang berlaku, dan

                    <br>
                        b) bertujuan untuk meningkatkan kepuasan pelanggan melalui penerapan sistem yang efektif,
                        termasuk proses perbaikan sistem dan jaminan kesesuaian terhadap persyaratan pelanggan dan
                        persyaratan perundang-undangan dan peraturan yang berlaku.

                    <br>
                        Semua persyaratan ISO 9001: 2015 bersifat umum dan dimaksudkan untuk diterapkan pada organisasi
                        manapun,
                        terlepas dari jenis atau ukurannya, atau produk dan layanan yang diberikannya.

                    </p>
                        <div class="text-center"><a href="" class="btn-get-started">Contact Us</a></div>
                    </div>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bx bx-left-arrow" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bx bx-right-arrow" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
</section><!-- End Hero -->

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h1>Our <strong> Services</strong></h>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h4 class="title"><a href="/services/lean-six-sigma-training">Lean Six Sigma Training</a></h4>
                    <p class="description">Mempelajari dan memahami konsep, teori dan tool yang dipakai dalam menjalani project Lean Six Sigma<br>           
                           
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                    <h4 class="title"><a href="/services/lean-six-sigma-deployment-workshop">Lean Six Sigma Deployment Workshop</a></h4>
                    <p class="description">Bertujuan untuk menghasilkan proses yang efisien dan efektif untuk mencapai keuntungan organisasi / perusahaan</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="icofont-earth"></i></div>
                    <h4 class="title"><a href="/services/lean-project-kaizen">Lean Project / Kaizen</a></h4>
                    <p class="description">Bertujuan untuk mempercepat waktu proses dengan cara membuat proses simple, efisien dan tanpa pemborosan untuk mencapai keuntungan organisasi / perusahaan</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="icofont-image"></i></div>
                    <h4 class="title"><a href="/services/six-sigma-project">Six Sigma Project</a></h4>
                    <p class="description">Bertujuan untuk meningkatkan kualitas proses dengan cara mengurangi variasi proses sehingga proses menjadi lebih efektif</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="icofont-settings"></i></div>
                    <h4 class="title"><a href="/services/business-process-improvement">Business Process Improvement</a></h4>
                    <p class="description">Pelatihan dengan cara membimbing peserta melakukan Continuous Improvement dari awal proses sampai akhir proses</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="/services/pembuatan-sop">Pembuatan SOP</a></h4>
                    <p class="description">Pelatihan dengan cara membimbing peserta menyiapkan SOP yang efisien dan efektif di tempat kerja</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="/services/iso-9001-2015-training">ISO 9001 - 2015 Training</a></h4>
                    <p class="description">Mempelajari dan memahami ISO 9001-2015 beserta klausul-klausulnya</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="/services/iso-9001-2015-development-and-implementation">ISO 9001-2015 - Development and Implementation </a></h4>
                    <p class="description">Pelatihan dengan cara membimbing dan mendampingi peserta dalam persiapan sertifikasi ISO 9001</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="/services/operation-management-training">Operation Management Training</a></h4>
                    <p class="description">Mempelajari dan memhami konsep, teori dan teknik - teknik pengambilan keputusan dalam operation management</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->

<!-- ======= Our Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container">
        <div class="section-title" data-aos="fade-up">
            <h2>Our <strong>Clients</strong></h2>
            <p>LSS Indonesia sudah memberikan training +500 Lean Six Sigma profesional mulai dari White Belt, 
                Yellow Belt, Green Belt dan Blck Belt dan membantu +20 organisasi / perusahaan di berbagai 
                industri untuk mencapai tujuan dan sasaran mereka dengan mengadopsi konsep, 
                metodologi dan tool Lean Six Sigma.</p>
        </div>


   
                <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/abimanyu.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/apical.jpg" style="height: 10vh; width:auto" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/chevron.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/eci.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/efishery.png" style="height: 10vh; width:auto" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/goodrich.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/greycampus.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/impro.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/indorama.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/iwearzule.png" style="height: 10vh; width:auto" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/jabil.png" style="height: 10vh; width:auto" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/lucas.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/maipark.png" style="height: 10vh; width:auto" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/ngk.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/norma.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/pandrol.jpg" style="height: 10vh; width:auto" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/pizzahut.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/pudak.png" style="height: 10vh; width:auto" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/siloam.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/tme.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/trw.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/unominda.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                    <img src="img/clients/vri.png" style="height: 10vh; width:auto" ss="img-fluid" alt="">
                </div>
            </div>


        </div>
        

    </div>
</section><!-- End Our Clients Section -->
