<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/service-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Lean Six Sigma Yellow Belt</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Pelatihan Yellow Belt adalah cara terbaik bagi Anda, tim Anda, atau seluruh organisasi Anda
                            untuk mempelajari dasar-dasar Lean Six Sigma. Pelatihan Lean Six Sigma Yellow Belt ini
                            adalah review yang dengan cepat dan efektif membangun kesadaran akan pentingnya Lean Six
                            Sigma dalam membangun perusahaan yang kompetitif<br><br></p>
                        <h3>Sasaran Pelatihan</h3>
                        <p>
                            1. Memberikan kesadaran mengenai pentingnya Lean Six Sigma dalam suatu proses<br>
                            2. Memperkenalkan konsep-konsep dasar Lean Six Sigma dan manfaat Lean Six Sigma<br><br>
                        </p>

                        <h3>Manfaat Pelatihan</h3>
                        <p>
                            1. Mengerti dan menyadari pentingnya Lean Six Sigma dalam proses sehari-hari<br>
                            2. Siap menjadi anggota team Lean Six Sigma project<br><br>
                        </p>

                        <h3>Garis Besar Materi Pelatihan</h3>
                        <p>
                            1. Mengetahui definisi Lean Six Sigma dan aplikasinya untuk proses perbaikan<br>
                            2. Mengetahui kriteria untuk kegiatan Value Added dan identifikasi 8 waste<br>
                            3. Mengenal konsep reduksi varians dan kontribusinya terhadap perbaikan proses<br>
                            4. Mengetahui roadmap DMAIC dan beberapa alat dalam proses perbaikan<br><br>
                        </p>

                        <h3>Metode Pelatihan</h3>
                        <p>
                            Pelatihan kelas, simulasi, tanya jawab dan latihan soal<br><br>
                        </p>

                        <h3>Sasaran Peserta</h3>
                        <p>
                            1. Semua karyawan dalam suatu organisasi <br>
                            2. Manager yang membutuhkan gambaran dasar mengenai Lean Six Sigma dalam suatu organisasi
                            <br>
                            3. Siapa saja yang pernah mendengar tentang Lean Six Sigma dan ingin mendapatkan sedikit
                            lebih banyak informasi tersebut dengan cepat<br><br>
                        </p>

                        <h3>Durasi Pelatihan</h3>
                        <p>
                            2 hari<br><br>
                        </p>

                        <p>
                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>
                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->