<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/service-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Lean Six Sigma Green Belt</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Pelatihan Lean Six Sigma ini akan membawa para peserta Green Belt selama 6 hari untuk
                            memastikan pengetahuan Green Belt yang konsisten dalam prinsip dan praktik Lean dan Six
                            Sigma. Pelatihan Lean Six Sigma selama 5 hari ini mengajarkan dan mempersiapkan individu
                            untuk menerapkan prinsip, praktik, dan teknik Lean Six Sigma dalam setiap proyek Continuous
                            Improvement / proyek Lean Six Sigma. Green Belt adalah fasilitator proyek Continuous
                            Improvement sehari-hari<br><br></p>

                        <h3>Sasaran Pelatihan</h3>
                        <p>
                            1. Mengembangkan serangkaian keterampilan komprehensif yang akan memungkinkan Anda untuk
                            berfungsi secara efektif sebagai Lean Six Sigma Green Belt dan menjadi fasilitator dari
                            suatu project improvement<br>
                            2. Memberi pengetahuan Lean Six Sigma Green Belt yang mencakup teknik untuk analisis
                            kuantitatif dan non-kuantitatif, serta keterampilan kepemimpinan tim yang diperlukan untuk
                            membuat proyek mencapai sasaran<br><br>
                        </p>

                        <h3>Manfaat Pelatihan</h3>
                        <p>
                            1. Mempunyai keterampilan dan pengetahuan untuk menjalankan project Lean Six Sigma yang
                            sukses<br>
                            2. Mempunyai ketrampilan Lean Six Sigma dalam pekerjaan sehari-hari<br><br>
                        </p>

                        <h3>Garis Besar Materi Pelatihan</h3>
                        <p>
                            1. Menggunakan keahlian Lean Six Sigma Anda untuk memimpin proyek improvement yang sukses
                            dan memberikan hasil yang berarti untuk organisasi Anda<br>
                            2. Berkomunikasi menggunakan konsep Lean Six Sigma<br>
                            3. Memahami organisasi Anda sebagai kumpulan proses, dengan input yang menentukan output<br>
                            4. Menghubungkan konsep Lean Six Sigma dengan keseluruhan misi dan tujuan bisnis<br>
                            5. Memahami dan menerapkan lima langkah model D-M-A-I-C sebagai kerangka kerja untuk
                            mengatur kegiatan perbaikan proses<br>
                            6. Menggunakan berbagai teknik perbaikan proses dalam model DMAIC<br><br>

                        </p>

                        <h3>Metode Pelatihan</h3>
                        <p>
                            Pelatihan kelas, simulasi, tanya jawab dan latihan soal<br><br>
                        </p>

                        <h3>Sasaran Peserta</h3>
                        <p>
                            1. Setiap individu yang ingin memberikan penghematan biaya yang signifikan ke organisasi
                            mereka<br>
                            2. Engineers / Professionals / Executives yang ingin memahami Lean Six Sigma sebagai alat
                            manajemen untuk proses dan perbaikan kinerja di tempat kerja mereka<br>
                            3. Manajer Quality, Engineer dan Executives yang perlu mendapatkan pengetahuan tentang Lean
                            Six Sigma dalam perbaikan proses / kualitas<br>
                            4. Manajer Produksi, Pengawas Produksi, dan Manajer Customer Service<br>
                            5. Konsultan yang ingin menambahkan Lean Six Sigma Green Belt dalam penawaran service mereka
                            dan membantu dalam hal penerapannya<br><br>
                        </p>

                        <h3>Durasi Pelatihan</h3>
                        <p>
                            5 hari<br><br>
                        </p>

                        <p>
                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>
                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->