<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/service-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Business Process Improvement</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Business process improvement (BPI) adalah metodologi perencanaan strategis yang bertujuan
                            untuk mengidentifikasi operasi atau keterampilan karyawan yang dapat ditingkatkan untuk
                            mengembangkan prosedur yang lebih baik, alur kerja yang lebih efisien dan pertumbuhan bisnis
                            secara keseluruhan.<br><br>
                            Pelatihan dilakukan dengan cara membimbing peserta melakukan Continuous Improvement dari awal proses sampai akhir proses.
                            <br>

                        </p>
                        <h3>Implementasi:</h3>
                        <p>
                            1. Training
                            <br>
                            2. Kaizen
                            <br>
                            3. Project
                            <br><br>

                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>

                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->