<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/service-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">ISO 9001-2015 Training</a>
                    </h2>

                    <div class="entry-content">
                        <p>

                            Pelatihan ini bertujuan untuk mempelajari dan memahami ISO 9001-2015 
                            beserta klausul-klausulnya <br><br>
                            <strong> Kenapa ISO 9001-2015?</strong><br>
                            Seperti yang kita ketahui ISO 9001 adalah satu diantara standar yang berlaku dalam dunia
                            bisnis Internasional. Dalam ISO 9001 sendiri berisi persyaratan-persyaratan sistem manajemen
                            mutu yang mengarahkan organisasi untuk mengendalikan proses-prosesnya menuju pencapaian
                            sasaran-sasarannya termasuk diantaranya kepuasan pelanggan, kesesuaian dengan peraturan dan
                            perundang-undangan serta peningkatan mutu yang berkesinambungan

                        </p>
                        <h3>Materi Training</h3>
                        <p>
                            1. Prinsip-prinsip dasar quality management system berdasarkan ISO 9001:2015.<br>
                            2. Implementasi dan interpretasi persyaratan sistem manajemen mutu ISO 9001<br>
                            3. Menyusun kebijakan mutu dan sasaran mutu manajemen<br>
                            4. Penyusunan dokumen system persyaratan yang sesuai dengan ISO 9001-2015<br>
                            5. Proses perencanaan & implementasi sistem manajemen mutu<br>

                            <br><br>

                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>

                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->