<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/service-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">ISO 9001-2015 Development and Implementation</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Bisnis yang baik mengerti kualitas; bisnis besar menerapkannya QMS yang tidak efektif dapat
                            menghabiskan banyak waktu, uang dan pelanggan Anda. Itulah mengapa penting untuk bisa
                            melakukannya sejak awal. Menerapkan kerangka kerja berdasarkan ISO 9001: 2015 membantu
                            bisnis Anda secara konsisten mengantarkan dan mendorong perbaikan berkelanjutan pada produk
                            dan layanan Anda.<br><br>

                            Pelatihan ini dilakukan dengan cara membimbing dan mendampingi peserta dalam 
                            persiapan sertifikasi ISO 9001.

                        </p>
                        <h3>Steps of Development and Implementation:</h3>
                        <p>
                            1. KIck Off Project<br>
                            2. Process Validation and Review QMS Documentation<br>
                            4. Review Business Process, Process Mapping, KPI and its Implementation<br>
                            5. Close gap QMS Documentation<br>
                            6. Training, Coaching and Internal Audit <br>
                            7. Implement QMS 9001-2015<br><br>


                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>

                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->