<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/lean-six-sigma-training.jpeg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Lean Six Sigma Training</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Training ini bertujuan untuk mempelajari dan memahami konsep, teori dan tool 
                            yang dipakai dalam menjalani project Lean Six Sigma<br><br>
                            <strong>Kenapa Lean Six Sigma ?</strong><br>
                            Aplikasi metodologi Lean Six
                            Sigma telah diakui secara global untuk mewujudkan pengurangan biaya yang signifikan,
                            peningkatan efisiensi dan kualitas.

                            Lean Six Sigma dapat diterapkan disemua bidang bisnis mulai dari administrasi,
                            engineering, produksi sampai pengiriman barang

                        </p>

                        {{!-- <blockquote>
                            <i class="icofont-quote-left quote-left"></i>
                            <p>
                                Pada tahun 2000, metode Lean Six Sigma berhasil memberikan penghematan sebesar $300
                                million bagi Ford Motor Company
                            </p>
                            <i class="las la-quote-right quote-right"></i>
                            <i class="icofont-quote-right quote-right"></i>
                        </blockquote> --}}

                        <img src="/img/what-is-lean-six-sigma.jpg" class="img-fluid" alt="">

                        <h3>Contoh Training:</h3>
                        <p>
                            <strong>Per Modul :</strong><br>
                            1. 5S & Visual Control<br>
                            2. Policy Deployment <br>
                            3. Value Stream Mapping <br>
                            4. VA - NVA & 8 Waste <br>
                            5. Take time & Cycle Time <br>
                            6. ANOVA <br>
                            7. MSA <br>
                            8. Dan Modul - Modul Lainnya<br><br>

                            <strong> Per Paket</strong> <br>
                            1. Lean Six Sigma White Belt - 2 hari <br>
                            2. Lean Six Sigma Green Belt - 5 hari<br>
                            3. Lean Six Sigma Black Belt - 3 hari<br> <br>

                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>

                        </p>

                    </div>



                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

        </div>

    </div>
</section><!-- End Blog Section -->