<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/lean-project-kaizen.jpeg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Lean Project Kaizen</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Kaizen adalah proyek perbaikan jangka pendek dengan tujuan spesifik untuk perbaikan.<br><br>
                            Pelatihan dilakukan dengan cara membimbing peserta menjalankan project Lean / Kaizen 
                            sebagai Leader / anggota tim dengan dibantu oleh instruktur Black Belt<br><br>
                            Waktu: ± 3 minggu
                        </p>
                        <h3>Keuntungan dari Kaizen adalah:</h3>
                        <p>
                            1. Mendapat hasil perbaikan yang besar dalam waktu singkat.
                            <br>
                            2. Tidak membutuhkan investasi yang besar
                            <br>
                            3. Memperbaiki Produktivitas, mengurangi biaya produksi, mengurangi tingkat kegagalan produk
                            <br>
                            4. Memperbaiki semangat kerja karyawan
                            <br>
                        <h3>Contoh Kaizen:</h3>
                        <p>
                            1. 5S Kaizen
                            <br>
                            2. Productivity Kaizen
                            <br>
                            3. Flow and Linkage Kaizen
                            <br>
                            4. SMED Kaizen
                            <br>
                            5. Standard Work Kaizen
                            <br><br>
                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>

                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->