<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/lean-six-sigma-deployment-workshop.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Lean Six Sigma Deployment Workshop</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Pelatihan dengan cara membimbing peserta menjalankan project Lean Six Sigma sebagai Leader /
                            anggota tim dengan dibantu oleh instruktur Black Belt.<br><br>
                            Waktu: 3 - 4 bulan

                        </p>



                        <h3>Tujuan Workshop:</h3>
                        <p>
                            1. Memahami dan menerapkan metode DMAIC didalam Lean Six Sigma
                            <br>
                            2. Identifikasi dan mengatasi akar masalah dari kegagalan atau proses tidak efisien
                            <br>
                            3. Identifikasi dan menghilangkan kegiatan yang bersifat pemborosan
                            <br>
                            4. Belajar bagaimana mencapai hasil dengan cepat dan mendorong perbaikan berkelanjutan
                            <br>
                            5. Belajar dan menerapkan tool-tool untuk kontrol dan menopang perbaikan
                            <br><br>
                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>

                        </p>

                    </div>



                </article><!-- End blog entry -->

            </div><!-- End blog entries list -->

        </div>

    </div>
</section><!-- End Blog Section -->