<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/service-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Mastering Seven Quality Tools</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Seven Quality Tools adalah serangkaian teknik grafis yang diidentifikasi sebagai paling
                            membantu dalam mengatasi masalah yang berkaitan dengan kualitas. Tool-tool yang sangat mudah
                            untuk dipakai dan cocok digunakan oleh orang-orang dengan sedikit pelatihan formal dalam
                            statistik dan dapat digunakan untuk menyelesaikan sebagian besar masalah terkait kualitas.
                            Seven Quality Tools dapat diterapkan di semua industri mulai dari tahap pengembangan produk
                            hingga pengiriman. Alat ini dapat secara luas digunakan dalam berbagai fase Lean Six Sigma
                            (DMAIC atau DMADV), dalam proses Continuous Improvement (siklus PDCA) dan Lean Management
                            (menghilangkan waste dari proses).
                            <br><br>
                        </p>

                        <h3>Sasaran Pelatihan</h3>
                        <p>
                            1. Memahami dan menerapkan Seven quality tools dalam pekerjaan sehari-hari <br>
                            2. Mempelajari dasar-dasar pemecahan masalah dan analisa akar penyebab untuk perbaikan
                            proses dan quality <br> <br>


                        </p>

                        <h3>Manfaat Pelatihan</h3>
                        <p>
                            1. Dapat memecahkan masalah secara efektif menggunakan proses langkah demi langkah<br>
                            2. Dapat menafsirkan dan membuat keputusan bisnis yang akurat dengan menggunakan alat yang
                            benar<br><br>


                        </p>

                        <h3>Garis Besar Materi Pelatihan</h3>
                        <p>
                            1. 7QC Tools dan Aplikasinya<br>
                            2. Tool 1: CHECK SHEET for Pengumpulan Data<br>
                            3. Tool 2: PARETO DIAGRAM untuk memprioritaskan masalah mana yang ditangani pertama kali<br>
                            4. Tool 3: HISTOGRAM untuk menganalisa distribusi data<br>
                            5. Tool 4: FLOW CHART<br>
                            6. Tool 5: CAUSE & EFFECT (FISHBONE) DIAGRAM untuk mengidentifikasi penyebab dan akar
                            masalah<br>
                            7. Tool 6: SCATTER DIAGRAM untuk mempelajari hubungan antara dua parameter<br>
                            8. Tool 7: CONTROL CHARTS untuk memonitor proses<br><br>



                        </p>

                        <h3>Metode Pelatihan</h3>
                        <p>
                            Pelatihan kelas, simulasi, tanya jawab dan latihan soal<br><br>
                        </p>

                        <h3>Sasaran Peserta</h3>
                        <p>
                            1. Setiap individu yang berminat untuk memberikan kontribusi perbaikan kualitas dalam
                            organisasinya<br>
                            2. Manager Quality, Supervisor Quality, Quality Engineer<br>
                            3. Executives, Engineers, Supervisors, QCC Facilitators<br>
                            4. Team Leader dan Members untuk Project/SGA/QCC<br><br>


                        </p>

                        <h3>Durasi Pelatihan</h3>
                        <p>
                            1 hari<br><br>
                        </p>

                        <p>
                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>
                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->