<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/service-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Operation Management Training</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Untuk berhasil  dalam mengembangkan usaha, untuk survive dan tumbuh, perusahaan dituntut
                            untuk dapat beroperasi dengan efisien dalam arti menggunakan resources yang dimiliki
                            (Tenaga Kerja, Finansial,  Waktu, dll) lebih sedikit dan efektif dalam arti senantiasa Fokus
                            pada Customer, sehingga yang lama tetap setia dan yang baru bertambah secara
                            berkesinambungan.<br><br>

                            Pelatihan ini bertujuan untuk mempelajari dan memhami konsep, teori dan teknik teknik pengambilan keputusan dalam Operation Management.

                        </p>
                        <h3>Materi Training:</h3>
                        <p>
                            1. Konsep Manajemen Operasi<br>
                            2. Manajemen Quality<br>
                            3. Total Productive Maintenance<br>
                            4. Lean Six Sigma<br>
                            5. Kaizen<br>
                            6. ISO<br>
                            7. Concurrent Engineering<br>
                            8. Operator Driven Realibility

                            <br><br>

                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>

                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->