<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/service-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Pembuatan SOP</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Standard Operating Procedure atau SOP, adalah seperangkat instruksi langkah demi langkah
                            yang disusun oleh sebuah organisasi untuk membantu pekerja melakukan operasi rutin yang
                            kompleks.
                            SOP bertujuan untuk mencapai efisiensi, kualitas output dan keseragaman kinerja, sekaligus
                            mengurangi miskomunikasi dan kegagalan mematuhi peraturan industri.<br><br>

                            Pelatihan ini dilakukan dengan cara membimbing peserta menyiapkan SOP yang efisien 
                            dan efektif di tempat kerja.

                        </p>
                        <h3>Contoh SOP:</h3>
                        <p>
                            1. SOP Produksi
                            <br>
                            2. SOP cara pengoperasian alat
                            <br>
                            3. SOP cara memeriksa produk

                            <br><br>

                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>

                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->