<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/six-sigma-project.jpeg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Six Sigma Project</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Six Sigma adalah metode untuk mengurangi variasi dalam manufaktur, 
                            layanan atau proses bisnis lainnya.
                            Proyek Six Sigma mengukur penghematan biaya untuk memperbaiki proses 
                            yang menghasilkan produk atau layanan standar.<br><br>
                            Pelatihan ini dilakukan dengan cara membimbing peserta menjalankan 
                            project Six Sigma sebagai Leader / anggota tim.<br><br>
                            Waktu: 3 - 4 bulan

                        </p>
                        <h3>Contoh Aplikasi:</h3>
                        <p>
                            1. Mengurangi Dead Stock Inventory di Warehouse
                            <br>
                            2. Mengurangi leadtime produk di proses manufactur
                            <br>
                            3. Mengurangi biaya transportasi pada perusahaan
                            <br>
                            4. Meningkatkan kepuasan pelanggan terhadap produk atau layanan
                            <br><br>
                            
                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>

                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->