<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
    <div class="container">

        <div class="row">
            <div class="col entries">

                <article class="entry entry-single" data-aos="fade-up">

                    <div class="entry-img">
                        <img src="/img/services/service-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <a href="blog-single.html">Value Stream Mapping</a>
                    </h2>

                    <div class="entry-content">
                        <p>
                            Value Stream Mapping (VSM) adalah teknik yang dapat digunakan untuk menyediakan representasi
                            visual dari suatu proses dan memiliki potensi untuk mengidentifikasi penghematan yang
                            signifikan dalam cara di mana proses tersebut diatur dan dilakukan.<br><br>
                            Value Stream Mapping sering dikaitkan dengan program Lean untuk mengidentifikasi peluang
                            untuk improvement dalam Lead-time, Supply Chain, jasa layanan, kesehatan, pengembangan
                            perangkat lunak, dan pengembangan produk. Value Stream Mapping Ini digunakan untuk
                            menganalisa aliran bahan dan informasi yang saat ini diperlukan untuk membawa produk atau
                            layanan kepada pelanggan. Teknik ini berasal dari Toyota, di mana dikenal sebagai "Material
                            and Information Flow Mapping".<br><br>
                        </p>

                        <h3>Sasaran Pelatihan</h3>
                        <p>
                            1. Memahami pentingnya berfokus pada Value Stream <br>
                            2. Memahami konsep Customer Value dan Waste <br>
                            3. Memahami pentingnya Value Stream Mapping dalam meningkatkan kinerja bisnis <br>
                            4. Melatih keterampilan dalam menerapkan metode ini<br>
                            5. Mempelajari cara mencapai Future State dengan Value Stream Plan<br><br>

                        </p>

                        <h3>Manfaat Pelatihan</h3>
                        <p>
                            1. Mengetahui manfaat Valuae Stream Mapping <br>
                            2. Mengetahui bagaimana cara membuat Value Stream Mapping Current State dan Future State<br>
                            3. Mampu mengidentifikasi peluang dan masalah dalam Value Stream Current State<br>
                            4. Mampu menentukan strategi implementasi pada Value Stream Future State<br>
                            5. Membuat prioritisasi dan daftar Lean Project<br><br>

                        </p>

                        <h3>Garis Besar Materi Pelatihan</h3>
                        <p>
                            1. Pengantar Customer Value, Waste, aktivitas Value Added dan Non Value Added<br>
                            2. Gambaran Umum Prinsip dan Metodologi Value Stream Mapping<br>
                            3. Mapping Tools dan Symbols<br>
                            4. Value Stream Mapping – Current State<br>
                            5. Sesi Latihan – VSM Current State<br>
                            6. Analisa Current State<br>
                            7. Value Stream Mapping – Future State<br>
                            8. Sesi Latihan – VSM Future State<br>
                            9. Penggunaan VSM untuk identifikasi Lean Improvement Projects<br>
                            10. Prioritisasi dan Pemilihan Lean Projects<br>
                            11. Mengembangkan Lean Roadmap<br><br>


                        </p>

                        <h3>Metode Pelatihan</h3>
                        <p>
                            Pelatihan kelas, simulasi, tanya jawab dan latihan soal<br><br>
                        </p>

                        <h3>Sasaran Peserta</h3>
                        <p>
                            1. Quality Manager <br>
                            2. Quality Engineer<br>
                            3. Lean practitioner
                            4. Business Process Owner<br>
                            5. Process Improvement Manager <br>
                            6. Management representative<br>
                            7. System coordinators<br>
                            8. Change manager<br>
                            9. Improvement team <br>

                        </p>

                        <h3>Durasi Pelatihan</h3>
                        <p>
                            2 hari<br><br>
                        </p>

                        <p>
                            Silahkan menghubungi kami jika anda tertarik <a href="/contact">disini</a>
                        </p>
                    </div>
                </article><!-- End blog entry -->
            </div><!-- End blog entries list -->
        </div>
    </div>
</section><!-- End Blog Section -->